{deps, [grisp]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "25"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /run/media/michel/GRISP_SD/*"},
        {destination, "/run/media/michel/GRISP_SD"},
        {post_script, "umount /run/media/michel/GRISP_SD"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {robot, "0.1.0"}, [robot]}
]}.

{edoc_opts,[{todo,true},{private,true}]}.
